canvas {
  border: 1px black solid;
}

#timer {
  font-size: 2em;
}

.flipped {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.small-sheet {
  transform: scale(0.6, 0.6);
  margin-top: -150px;
}

#curlingCanvas2 {
  margin-left: 20px;
}

.speed-display {
  font-size: 1.5em;
}
