<div class="container center speed-display">
  <div class="row">
    <div class="col-sm">
      <small>Alkunopeus</small><br/>
      {{speed | number:'1.0-2'}} m/s
    </div>
    <div class="col-sm">
      <small>Kokonaisnopeus</small><br/>
      {{totalSpeed | number:'1.0-2'}} m/s
    </div>
    <div class="col-sm">
      <small>Kulma</small><br/>
      {{angle | number:'1.0-2'}}&#176;
    </div>
  </div>
</div>
<div class="row" class="center">
  <canvas width="{{width}}" height="{{height}}" id="curlingCanvas" #curlingCanvas [ngClass]="{'flipped': settings.flipped, 'small-sheet': smallScreen}"></canvas>
  <canvas width="{{width}}" height="{{height}}" id="curlingCanvas2" #curlingCanvas2 [ngClass]="{'flipped': settings.flipped, 'small-sheet': smallScreen}"></canvas>
  <div id="timer" *ngIf="settings.runAsAnimation">{{timerValue | date: 'mm:ss'}}</div>
</div>
