<div class="container-fluid">
  <header-nav></header-nav>
  <div class="row">
    <div class="col-lg-3">
      <select-tools (selectedSheetChange)="changeSelectedSheet($event)" (selectedSlideChange)="changeSelectedSlide($event)" (selectedGameChange)="changeSelectedGame($event)"></select-tools>
    </div>
    <div class="col-lg-7 text-center">
      <curling-sheet [(selectedSlide)]="selectedSlide" [(selectedGame)]="selectedGame"></curling-sheet>
    </div>
  </div>
</div>
