ul {
  padding: 0 0 0 10px;
  list-style-type: none;
}

button {
  margin-top: 10px;
}

label {
  margin-top: 5px;
}

#select-tools, .info-box {
  border: 1px solid #DDD;
  padding: 10px 5px;
}

.info-box {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

@media (min-width: 768px) {
  .collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}

#settings-button {
  margin-bottom: 10px;
  margin-top: -15px;
}

#toggleGameMode {
  text-align: center;
  margin-bottom: 10px;
}

.btn-group, .btn-group-vertical {
  display: block;
}
