<button #settingsButton id="settings-button" class="btn hidden btn-block d-block d-sm-none" [ngClass]="{'btn-primary': !settingsOpen, 'btn-danger': settingsOpen}" type="button" data-toggle="collapse" data-target="#settings" aria-expanded="false" aria-controls="settings" (click)="toggleSettings()">
  {{settingsOpen ? 'Sulje asetukset' : 'Avaa asetukset'}}
</button>
<div id="settings" class="collapse dont-collapse-sm">
  <!-- game mode changing disabled -->
  <div id="toggleGameMode" class="row" *ngIf="false && ((selectedSheet && selectedSheet.sheetSettings) || (selectedSheet && selectedSheet.sheetSettings && selectedSheet.sheetSettings.tournamentMode))">
    <div class="col-md-12">
      <button type="button" class="btn btn-block" [ngClass]="{'btn-default': !selectedSheet.sheetSettings.tournamentMode, 'btn-primary': selectedSheet.sheetSettings.tournamentMode}" (click)="gameModeChanged()">{{selectedSheet.sheetSettings.tournamentMode ? 'Turnaustila' : 'Harjoittelutila'}}</button>
    </div>
  </div>
  <div id="select-tools" class="form-group hidden-sm-up">
    <label for="selected-game">Valitse rata:</label>
    <select [disabled]="settings.runAsAnimation" class="form-control" id="selected-sheet" (change)="sheetChanged($event.target.value)" [(ngModel)]="selectedSheet">
      <option *ngFor="let sheet of sheets" [ngValue]="sheet">{{sheet.id}}</option>
    </select>
    <div *ngIf="selectedSheet && selectedSheet.sheetSettings && !selectedSheet.sheetSettings.tournamentMode">
      <label for="selected-day">Valitse päivä:</label>
      <select class="form-control" id="selected-day" (change)="dayChanged($event.target.value)" [(ngModel)]="selectedDay">
        <option *ngFor="let day of days" [ngValue]="day">{{day | date:'yyyy-MM-dd'}}</option>
      </select>
      <label for="selected-game-training">Valitse peli:</label>
      <select class="form-control" id="selected-game-training" (change)="gameChanged($event.target.value)" [(ngModel)]="selectedGame">
        <option *ngFor="let game of trainingGames" [ngValue]="game">{{game.id}}</option>
      </select>
      <label *ngIf="selectedGame && selectedGame.slides" for="selected-slide-training">Valitse heitto:</label>
      <select *ngIf="selectedGame && selectedGame.slides" class="form-control" id="selected-slide-training" (change)="slideChanged($event.target.value)" [(ngModel)]="selectedSlide">
        <option *ngFor="let slide of (selectedGame ? selectedGame.slides : [])" [ngValue]="slide">{{slide.id}}</option>
      </select>
    </div>
    <div *ngIf="selectedSheet && selectedSheet.sheetSettings && selectedSheet.sheetSettings.tournamentMode">
      <label for="selected-game">Valitse peli:</label>
      <select [disabled]="settings.runAsAnimation" class="form-control" id="selected-game" (change)="gameChanged($event.target.value)" [(ngModel)]="selectedGame">
        <option *ngFor="let game of games" [ngValue]="game">{{game.id}}</option>
      </select>
      <label for="selected-slide">Valitse heitto:</label>
      <select [disabled]="settings.runAsAnimation" class="form-control" id="selected-slide" (change)="slideChanged($event.target.value)" [(ngModel)]="selectedSlide">
        <option *ngFor="let slide of (selectedGame ? selectedGame.slides : [])" [ngValue]="slide">{{slide.id}}</option>
      </select>
    </div>
  </div>
  <div class="info-box" *ngIf="selectedSheet && selectedSheet.sheetSettings && selectedSheet.sheetSettings.tournamentMode && selectedGame && selectedSlide && selectedGame.teams.length > 0">
    <b>Peli {{selectedGame.id}}</b><br/><h2>{{selectedGame.teams[0].teamName}} vs {{selectedGame.teams[1].teamName}}</h2>
    Aloitettu: {{selectedGame.started | date:'dd.MM.yyyy HH:mm:ss'}}<br/>
    <span *ngIf="selectedGame.ended">Loppunut: {{selectedGame.ended | date:'dd.MM.yyyy HH:mm:ss'}}</span>
    <hr>
    <b>Heitto {{selectedSlide.id}}</b><br/>
    <h5>Tiimi: {{selectedSlide.team.teamName}}</h5>
    Tila: {{selectedSlide.ended ? 'Loppunut' : 'Kesken'}}
    <button *ngIf="selectedSlide && selectedSlide.ended" type="button" class="btn btn-block" [ngClass]="{'btn-success': !settings.runAsAnimation, 'btn-danger': settings.runAsAnimation}" (click)="toggleReplay()">{{settings.runAsAnimation ? 'Lopeta toistaminen' : 'Aloita toistaminen'}}</button>
  </div>
  <!-- settings box disabled -->
  <div class="info-box" *ngIf="false">
    <h3>Asetukset</h3>
    <label for="flipped-select">Pelin suunta:</label>
    <select [disabled]="settings.runAsAnimation" class="form-control" id="flipped-select" (change)="flippedChanged($event.target.value)">
      <option value="0">Alas</option>
      <option value="1">Ylös</option>
    </select>
  </div>
</div>
