<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="assets/curling.png" height="32" alt=""/> Curling Trainer 3000</a>
  </div>
</nav>
